<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
		integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<link href="css/estilos.css" rel="stylesheet" type="text/css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body background="img/escuela-interor-aula.jpg">


	<div th:insert="@{/navbar}"></div>


	<h1>Cursos Asignados</h1>
	<div class="container mt-4">
		<table class="table table-bordered table-light">
			<thead>
				<tr>
					<th>Id</th>
					<th>Curso</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="curso:${cursos}">
					<td th:text="${curso.id}"></td>
					<td th:text="${curso.seccion}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>





</html>